form{
  width: 400px;
  margin-left: 20px;
  display: inline-block;
}
#edit-form{
  width: 600px;
  height: 200px;
  top: 200px;
  background-color: aquamarine;
  display: none;
  position: absolute;
  bottom: 0;
  right: 400px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  /* display: inline-block; */
}
input {
    margin-bottom: 10px;
    border: 3px solid olivedrab;
    box-sizing: border-box;
}
.add-button{
  background-color: #8FBC8F;
  border: 1px solid black;
  border-radius: 12px;
  font-size: 18px;
}
.save-button{
  background-color: greenyellow;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  display: block;
  cursor: pointer;
  font-family: ProximaNova-Regular, helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: rgb(18, 20, 22);
    -webkit-font-smoothing: antialiased;
    border-radius: 12px;
}
img{
  width: 50px;
  height: 50px;
}

#list-books {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  
  #list-books td, #list-books th {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
  }
  
  #list-books tr:nth-child(even){background-color: #f2f2f2;}
  
  #list-books tr:hover {background-color: #ddd;}
  
  #list-books th {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #ff9966;
    color: white;
  }
  button{
    display: inline-block;
  }

  #list-kind{
    font-size: 50px;
  }

  #drop-down{
    width: 100px;
    height: 25px;
  }
  p1{
    font-size: 20px;
  }